.card{
    display: flex;
    margin: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    justify-content: baseline;
}
.img{
    height: 200px;
}
.img:hover{
    scale: 1.05;
}